---
layout: page
title: Publications
show_title: true
---

<p>For an up-to-date list of publications, see <a href="https://scholar.google.com/citations?user=H-pgq9QAAAAJ&hl=en&oi=ao">Google Scholar</a>.<br/>Below, "*" denotes joint authorship.</p>

<div class="year-buttons">
{% for year in site.data.papers %}
 {% assign yr = year[0] %}
 <a href="" class="year-button">{{ yr }}</a>
{% endfor %}
</div>

<hr>
<div class="resume-item">
	{% for year in site.data.papers %}
	{% assign yr = year[0] %}
	<h2>{{ yr }}</h2>
	<ul class="papers-list">
	  {% for paper in site.data.papers[yr] %}
	  <li class="paper-item">
	    {{ paper.title }}<br>
	    {{ paper.authors }}<br>
	    {{ paper.journal }} ({{ paper.year }})<br>
	    {{ paper.paper_url }}
	  </li><br>
	{% endfor %}
	</ul>
	{% endfor %}
</div>
