---
layout: page
title: People
---

<h2>Students</h2>
<div class="resume-item">
	<ul class="person-item-list">
	{% for person in site.data.people.students %}
	  <li class="person-item">
	  	<span class="person-item-name">
		    {% if person.url and person.url != "" %}
		    	<a href="{{ person.url }}">{{ person.name }}</a>
		    {% else %}
		    	{{ person.name }}
		    {% endif %}
		    ({{ person.type }})
		</span>
	    <img src="{{ person.image_path }}" class="person-item-img"/>
	    <span class="person-item-interests">Research interests: {{ person.interests }}</span>
	  </li><br>
	{% endfor %}
	</ul>
</div>

<h2>Affiliates</h2>
<div class="resume-item">
	<ul class="person-item-list">
	{% for person in site.data.people.affiliated %}
	  <li class="person-item">
	  	<span class="person-item-name">
	    {% if person.url and person.url != "" %}
	    	<a href="{{ person.url }}">{{ person.name }}</a>
	    {% else %}
	    	{{ person.name }}
	    {% endif %}
		</span>
	    <img src="{{ person.image_path }}" class="person-item-img"/>
	  </li><br>
	{% endfor %}
	</ul>
</div>

<h2>Alumni</h2>
<div class="resume-item">
	<ul class="person-item-list">
	{% for person in site.data.people.alumni %}
	  <li class="person-item">
	  	<span class="person-item-name">
	    {% if person.url and person.url != "" %}
	    	<a href="{{ person.url }}">{{ person.name }}</a>
	    {% else %}
	    	{{ person.name }}
	    {% endif %}
	    {{ person.affiliation }}
	    </span>
	  </li><br>
	{% endfor %}
	</ul>
</div>
