---
layout: page
title: Research
show_title: true
---

<hr>
<div class="research-image">
<img src="static/images/scientists_peering_into_brain.jpg" style="width: 50%;"/><span class="img-description">Credit: Sonya Todorova</span>
</div><br/>

<div class="resume-item">
	{% for item in site.data.research %}
	  <div class="research-item">
	    <h2>{{ item.name }}</h2>
	    {{ item.description }}
	  </div><hr>
	{% endfor %}
</div>

<h1>Sponsors</h1>
<div class="resume-item">
	<ul class="sponsors-item-list">
	{% for item in site.data.sponsors %}
	  <li class="sponsor-item">
	    {{ item.name }}
	  </li>
	{% endfor %}
	</ul>
</div>
