<header class="section-header">
  <ul class="nav-items">
    <li><a href="{{ site.baseurl | prepend: site.url }}">
      <img src="static/images/header.png" class="nav-logo" /></a></li>
    <li class="nav-item">
      <a href="{{site.baseurl | prepend: site.url }}/people.html">People</a></li>
    <li class="nav-item">
      <a href="{{site.baseurl | prepend: site.url }}/research.html">Research</a></li>
    <li class="nav-item">
      <a href="{{site.baseurl | prepend: site.url }}/papers.html">Publications</a></li>
    <li class="nav-item">
      <a href="{{site.baseurl | prepend: site.url }}/software.html">Software</a></li>
    <li class="nav-item">
      <a href="{{site.baseurl | prepend: site.url }}/courses.html">Teaching</a></li>
  </ul>
</header>
