
.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  //border-bottom: 0.5px solid #eee;
  font-variant: small-caps;
  @include sans_regular;
}

.nav-item {
  float: left;
  //border-left: 1px solid #eee;
}

.nav-item a {
  display: block;
  color: black;
  text-align: center;
  padding: 0.6em 1em;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #222;
  color: #fff;
}

.nav-logo {
  float: left;
  margin-right: 20px;
  margin-top: 14px;
  width: 4em;
}

.nav-logo:hover {
  
}

@media only screen and (max-width: 600px) {
  .nav-items {
    position: static;
    top: auto; 
    border-bottom: none;
  }

  .nav-item {
    width: 100%;
    border-left: none;
  }

  .nav-item a {
    padding: 0.3em 0em;
  }

  .nav-logo {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .nav-item:last-child {
    border-bottom: 1px solid #eee;
  }
}
