.year-buttons {
  text-align: center;
  max-width: 400px;
}

.year-button {
  @include border-radius(5px);
  //background-color: #efefef;
  border: 1px solid;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 0.5rem auto;
  margin-right: 0.2em;
  padding: 0.3rem;
  //width: 220px;
  font-size: small;
  @include sans_light;
  color: #333;
  //line-height: 35px;
  @include transition(all .2s ease);

  &:hover {
    background-color: #333;
    color: #fff;
  }

  &.not-looking { width: 400px; }
}

.papers-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.paper-item {
    margin-top: 1.5em;
    margin-left: 0;
    padding: 1em;
    border-radius: 10px;
    border: 1px black;
    border-style: solid;
}
.paper-link {
    font-size: small;
    text-decoration: none;
    border-bottom: dotted 1px black;
}
.paper-title {
    @include sans_bold;
    clear: both;
    font-size: 1.3rem;
}
.paper-content {
    clear: both;
    overflow: auto;
    padding-top: 1em;
}
.paper-image {
    margin-right: 1em;
    float: left;
    padding-bottom: 1em;
}
.paper-brief {
    text-align: justify;
    float: left;
    display: contents;
}
