---
layout: default
---
<div class="wrapper">
<header class="section-header">
	<div class="navigation">
		<ul class="nav-items">
			<a href="{{ site.baseurl | prepend: site.url }}"><img src="static/images/header.png" style="width: 50px;"/></a>
			<li class="nav-item"><a href="{{site.baseurl | prepend: site.url }}/people.html">People</a></li>
			<li class="nav-item"><a href="{{site.baseurl | prepend: site.url }}/research.html">Research</a></li>
			<li class="nav-item"><a href="{{site.baseurl | prepend: site.url }}/papers.html">Publications</a></li>
			<li class="nav-item"><a href="{{site.baseurl | prepend: site.url }}/software.html">Software</a></li>
			<li class="nav-item"><a href="{{site.baseurl | prepend: site.url }}/courses.html">Teaching</a></li>
		</ul>
	</div>
</header>

<section class="content-section">
	{% if page.show_title %}
	<h1>{{ page.title }}</h1>
	{% endif %}
	{{ content }}
</section>
</div>
